<dl class="row">
    <dt class="col-sm-3">Data Source</dt>
    <dd class="col-sm-9">Covid Tracking Project API (<a href="https://covidtracking.com/">https://covidtracking.com/</a>)</dd>
    <dt class="col-sm-3">Data Source Terms and Conditions</dt>
    <dd class="col-sm-9"><a href="https://covidtracking.com/terms-and-conditions">https://covidtracking.com/terms-and-conditions</a></dd>

    <dt class="col-sm-3">Methods</dt>
    <dd class="col-sm-9">
        <p>Binomial probability</p>
    </dd>

    <dt class="col-sm-3">Known limitations</dt>
    <dd class="col-sm-9">
        <p>The reported state positivity rate is very likely a biased estimate of the true state rate.</p>
        <p>The calculations assume that all attendees have the same probability of being COVID19 positive, and that this probability is the reported positivity rate for the state. These are very strong assumptions. They are highly unlikely to hold in practice.  <em>Caveat emptor</em>.</p>
        <p>The probability that at least one person attending the social gathering is COVID19 positive is not the same thing as the probability that you get infected if you attend the social gathering.  Infected persons may, or may not, be contagious.  Even if contagious, you may, or may not, get infected depending on your behaviour, and theirs.</p>
        <p>As surely as night follows day, we are sure to have missed other limiations.</p>
    </dd>

    <dt class="col-sm-3 text-truncate">Credits</dt>
    <dd class="col-sm-9 mb-5">Bootstrap 4, Daemonite's Material UI, Other.</dd>
</dl>
