@{
    ViewData["Title"] = "MyCovid Risk Calculation Error";
}

<div class="text-center">
    <div class="row toast-header bg-info">
        <div class="text-body">There was an error in making the calculation. Please re-try</div>
    </div>
    <div class="row">
        <a class="btn btn-sm btn-info btn-block font-weight-bold" href="/home">Start Over</a>
    </div>
</div>
