@model MyCovidApp.Models.CalculateRiskResponseModel

@{
    ViewData["Title"] = "MyCovid Risk Calculation";
}

<div class="col-lg-8">
    <div class="row">
        <div class="col text-center">
            <h3>Risk Estimate</h3>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align:left;">
            <b>Probability that at least one guest has COVID-19</b>
        </div>
        <div class="col">
            <b>@String.Format("{0:0.00}", Model.probabilityAtLeastOne)%</b>
        </div>
    </div>
    <div class="row">
        <div class="col"><hr /></div>
    </div>
    <div class="row">
        <div class="col" style="text-align:left;">Probability that no guest has COVID-19</div>
        <div class="col justify-content-lg-end">
            @String.Format("{0:0.00}", Model.probabilityZero)%
        </div>
    </div>
    <div class="row">
        <div class="col"><hr /></div>
    </div>
    <div class="row">
        <div class="col"><h4>Data you entered</h4></div>
    </div>
    <div class="row">
        <div class="col" style="text-align:left;">Estimated Positivity Rate</div>
        <div class="col">
            @String.Format("{0:0.00}", Model.positivityRate)%
        </div>
    </div>
    <div class="row">
        <div class="col"><hr /></div>
    </div>
    <div class="row">
        <div class="col" style="text-align:left;">Number of Attendees</div>
        <div class="col">@Model.numberOfPeople people</div>
    </div>
    <div class="row">
        <div class="col"><hr /></div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-sm btn-primary font-weight-bold" href="/home" style="width:50%;">Start Over</a>
        </div>
    </div>
    <div class="row">
        <div class="col"><hr /></div>
    </div>
</div>
